<header id="default_header" class="header_style_1">
  <!-- header bottom -->
  <div class="header_bottom">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
          <!-- logo start -->
          <div class="logo">
            <a href="/"><img src="/images/logos/logo.png" alt="logo" /></a>
          </div>
          <!-- logo end -->
        </div>
        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
          <!-- menu start -->
          <div class="menu_side">
            <div id="navbar_menu">
              <ul class="first-ul">
                <li>
                  <a class="active" href="/">Home</a>
                </li>
                <li>
                  <a href="#">User</a>
                  <ul>
                    <li><a href="/products">Profile</a></li>

                  </ul>
                </li>
                
                <li>
                  <a href="#">Admin</a>
                  <ul>
                    <!-- <li><a href="/stock"></a></li> -->
                    <li><a href="/create">New Service </a></li>
                    <li><a href="/categories">Edit Detail </a></li>

                  </ul>
                </li>
                <li>
                  <a href="/cart"><i class="fa fa-shopping-cart" style="width: 20px" aria-hidden="true"></i>
                    <% if (product_cart.length> 0) { %><%- product_cart.length %>
                        <%}else{%>
                          <%- 0 %>
                            <%}%>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <!-- menu end -->
        </div>
      </div>
    </div>
  </div>
  <!-- header bottom end -->
</header>