<!DOCTYPE html>
<html lang="en">
  <%- include('../includes/head.ejs') %>
  <body id="default_theme" class="it_service">
    <!-- loader -->
    <!-- <div class="bg_load">
      <img
        class="loader_animation"
        src="/images/loaders/leaf.png"
        alt="#"
      />
    </div> -->
    <!-- end loader -->
    <!-- header -->
    <%- include('../includes/header.ejs') %>
    <!-- end header -->
    <!-- section -->
    <div id="slider" class="section main_slider">
      <div class="container-fuild">
        <div class="row">
          <div
            id="rev_slider_4_1_wrapper"
            class="rev_slider_wrapper fullwidthbanner-container"
            data-alias="classicslider1"
            style="
              margin: 0px auto;
              background-color: transparent;
              padding: 0px;
              margin-top: 0px;
              margin-bottom: 0px;
            "
          >
    <!-- section -->
    <div class="section padding_layout_1">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="full">
              <div class="main_heading text_align_center">
                <h2> THE DIMOND CLINIC </h2>
                <!-- <p class="large">
                  Tree is life. -->
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div
            class="col-lg-3 col-md-6 col-sm-6 col-xs-12 margin_bottom_30_all"
          >
            <!-- <div class="product_list"> -->
              <div class="product_img">
                <img
                  class="img-responsive"
                  src="/product_image/service2.jpg"
                  alt=""
                />
              <!-- </div> -->
              <div class="product_detail_btm">
                <div class="center">
                  <h4>
                    <a href="it_shop_detail.html"> สิวและรอยแผลเป็น</a>
                  </h4>
                </div>
               
                <div class="product_price">
                  <p>
                   
                    <!-- <span class="new_price">2500.00</span> -->
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div
            class="col-lg-3 col-md-6 col-sm-6 col-xs-12 margin_bottom_30_all"
          >
            <!-- <div class="product_list"> -->
              <div class="product_img">
                <img
                  class="img-responsive"
                  src="product_image/service4.jpg"
                  alt=""
                />
              <!-- </div> -->
              <div class="product_detail_btm">
                <div class="center">
                  <h4>
                    <a href="it_shop_detail.html"
                      ></a>ทรีทเม้นท์บํารุงผิว</a >
                  </h4>
                </div>
               
                
                <div class="product_price">
                  <p>
                 
                    <!-- <span class="new_price"> 1200.00</span> -->
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div
            class="col-lg-3 col-md-6 col-sm-6 col-xs-12 margin_bottom_30_all"
          >
            <!-- <div class="product_list"> -->
              <div class="product_img">
                <img
                  class="img-responsive"
                  src="product_image/service3.jpg"
                  alt=""
                />
              <!-- </div> -->
              <div class="product_detail_btm">
                <div class="center">
                  <h4>
                    <a href="it_shop_detail.html">เลเซอร์</a>
                  </h4>
                </div>
              
                <div class="product_price">
                  <p>
                   
                    <!-- <span class="new_price"> 890.00</span> -->
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div
            class="col-lg-3 col-md-6 col-sm-6 col-xs-12 margin_bottom_30_all"
          >
            <!-- <div class="product_list"> -->
              <div class="product_img">
                <img
                  class="img-responsive"
                  src="product_image/service1.jpg"
                  alt=""
                />
              <!-- </div> -->
              <div class="product_detail_btm">
                <div class="center">
                  <h4>
                    <a href="it_shop_detail.html">เทอร์มาจ</a>
                  </h4>
                </div>
                
                <div class="product_price">
                  <p>
                  
                    <!-- <span class="new_price">1300.00</span> -->
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div
            class="col-lg-3 col-md-6 col-sm-6 col-xs-12 margin_bottom_30_all"
          >
            <!-- <div class="product_list"> -->
              <div class="product_img">
                <img
                  class="img-responsive"
                  src="product_image/service6.jpg"
                  alt=""
                />
              </div>
              <div class="product_detail_btm">
                <div class="center">
                  <h4>
                    <a href="it_shop_detail.html">ศัลยกรรมตาสองชั้น</a>
                  </h4>
                <!-- </div> -->
               
                <div class="product_price">
                  <p>
                    
                    <!-- <span class="new_price">1500.00</span> -->
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div
            class="col-lg-3 col-md-6 col-sm-6 col-xs-12 margin_bottom_30_all"
          >
            <!-- <div class="product_list"> -->
              <div class="product_img">
                <img
                  class="img-responsive"
                  src="product_image/service5.jpg"
                  alt=""
                />
              <!-- </div> -->
              <div class="product_detail_btm">
                <div class="center">
                  <h4>
                    <a href="it_shop_detail.html"
                      >ศัลยกรรมปาก</a
                    >
                  </h4>
                </div>
               
                <div class="product_price">
                  <p>
                
                    <!-- <span class="new_price">2100.00</span> -->
                  </p>
                </div>
              </div>
            </div>
          </div>
         
           <div
            class="col-lg-3 col-md-6 col-sm-6 col-xs-12 margin_bottom_30_all"
          >
            <!-- <div class="product_list"> -->
              <div class="product_img">
                <img
                  class="img-responsive"
                  src="product_image/service6.jpg"
                  alt=""
                />
              <!-- </div> -->
              <div class="product_detail_btm">
                <div class="center">
                  <h4>
                    <a href="it_shop_detail.html">ศัลยกรรมตาสองชั้น</a>
                  </h4>
                </div>
               
                <div class="product_price">
                  <p>
                    
                    <!-- <span class="new_price">1500.00</span> -->
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div
            class="col-lg-3 col-md-6 col-sm-6 col-xs-12 margin_bottom_30_all"
          >
            <!-- <div class="product_list"> -->
              <div class="product_img">
                <img
                  class="img-responsive"
                  src="product_image/service5.jpg"
                  alt=""
                />
              <!-- </div> -->
              <div class="product_detail_btm">
                <div class="center">
                  <h4>
                    <a href="it_shop_detail.html"
                      >ศัลยกรรมปาก</a
                    >
                  </h4>
                </div>
               
                <div class="product_price">
                  <p>
                
                    <!-- <span class="new_price">2100.00</span> -->
                  </p>
                </div>
              </div>
            </div>
          </div>
          
            
    <!-- end section -->
   
    <!-- footer -->
    <%- include('../includes/footer.ejs') %>
    <!-- end footer -->
    <!-- js section -->
    <%- include('../includes/full_script.ejs') %>
  </body>
</html>
